body{
    padding-top: 30px;
}

.moment-container{
    position: relative;
    overflow: hidden;
    width: 1000px;
}
.img-base{
    width: 1000px;
}

.img-base-square{
    width: 600px;
    height: 600px;
}

.title{
    font-weight: 100;
    font-size: 48px;
}

.info-container{
    font-style: italic;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: absolute;
    bottom: 46px;
    right: 480px;
    color: white;
}

.yellow-color{
    color: #FFCC29
}

.picture-label{
    position: absolute;
    z-index: -1;
    min-width: 400px;    
    min-height: 400px;    
    bottom: 2px;
    right: 2px;
}

.picture-square{
    position: absolute;
    z-index: -1;     
    bottom: 2px;
    right: 2px;
}

.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.file-container{
    position: relative;
}
.file-container > .file-input{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    opacity: 0;
    width: 100%;
}

.file-container > .file-input:hover{
    cursor: pointer;
}

.moment-container.square{    
    width: 600px;
    height: 600px;
}